html{
   width: 100%; 
    height: 100%; 
    background:#00065b;
    font-family: 微软雅黑, MicrosoftYahei, sans-serif;
    body{
        height: 100%;
        width: 100%;
       .main{
           height: 100%;
           width: 100%;
           position: fixed;
           background-size: 100% 100%;
       }
    }
}
*{
    margin: 0;
    padding: 0;
}